.chat-window {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f7fafc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message {
  display: flex;
  margin-bottom: 8px;

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  div {
    max-width: 75%;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  div.user {
    background-color: #3182ce;
    color: #ffffff;
  }

  div.bot {
    background-color: #ffffff;
    color: #2d3748;
  }
}
